server:
  port: 3003

garage:
  sim:
    url: http://localhost:3000
    
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/parking
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
